@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

/* ==============Header=================== */

.header-container{
    display: flex;
    justify-content: space-between;
    padding:1.5rem 15rem;
    gap: 8rem;
    /* position: fixed;
    background-color: white;
    width: 100%; */
}

.nav-list ul{
    display: flex;
    gap: 3rem;
    margin-top: 1.5rem;
}
.nav-icons{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

}

.log h1{
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    font-size: 3rem;
    cursor: pointer;
}
.nav-list ul li{
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}
.nav-list ul li::after{
    content: '';
    height: 1rem;
    width: 100%;
    background-color: red;
}
.has-search .form-control {
    padding-left: 2.375rem;
  }
  
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
.form-group input{
    padding: 1rem 8rem;
    border-radius: 50px;
    border: rgb(77 71 71) 1px solid;
  }
  .nav-icons .login-icon .material-symbols-outlined{
    font-size: 40px;
  }
.nav-icons  .material-symbols-outlined{
    font-size: 36px;
    color: rgb(77 71 71);
    cursor: pointer;
    position: relative;
}
.nav-icons .cart-icon .material-symbols-outlined::after{
    content: "3";
    position: absolute;
    background: #ff0000;
    height: 20px;
    top: 7px;
    right: -2px;
    width: 20px;
    text-align: center;
    line-height: 18px;
    font-size: 13px;
    border-radius: 50%;
    color: white;
    border: 1px solid #ff6600;
    font-family: sans-serif;
      
}

/* =========image slider============== */

.slider-frame {
    overflow: hidden;
    height: 800px;
    width: 100%;
    position: relative;
}

.slide-images {
    display: flex; /* Use flexbox to arrange images horizontally */
    width: 400%; /* 4 images wide */
    height: 100%; /* Full height of the slider-frame */
    animation: slide_animation 60s infinite alternate; /* Change to linear */
}

.img-container {
    flex: 0 0 25%; /* Each image takes 25% width */
    height: 800px;
}

.img-container img {
    width: 100%; /* Image width set to 100% */
    height: 100%;
    object-fit: cover;
}

@keyframes slide_animation {
    0% {
        transform: translateX(0%); /* Start from 0% translation */
    }
    100% {
        transform: translateX(-75%); /* End at -75% translation (to the right) */
    }
}


/* ============Treading products========== */
.treading-products{
    margin-top: 8rem;
}
.treading-product{
    text-align: center;

}
.heading h1{
    font-size: 3rem;
    font-weight: bolder;
}
.heading h1 span{
    color: red;
}

.treading-product .products{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 4rem;
    padding: 5rem 25rem;
    margin-left: 4rem;
}
.product-img{
    width: 550px;
    height: 650px
}
.product-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}


/* =============FOOTER ============= */
.footer{
    padding: 10px auto;
    background-color: #130f1e;
    margin-top: 10rem;
}
.main{
    display: flex;
    flex-wrap: wrap;
    padding: 7rem 18rem 3rem;
}
.col{
    width: 25%;
}
.col h4{
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 2rem;
    position: relative;
    text-transform: capitalize;
    
}
.col h4::before{
    position: absolute;
    content: "";
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -1rem;
    background-color: #ff702a;


}
.col ul li{
    margin-bottom: 1.3rem;
}
.col ul li a{
    color: #9897a9;
    font-size: 1.1rem;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .4s ease;
}
.col ul li a:hover{
    color: #fff;
    transform: translateX(-12px);
}
.socio{
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.socio a{
    padding: 0.8rem 0.8rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;

}
.socio a i{
    font-size: 1.4rem;
    color: #9897a9;
    transition: all 300ms ease;
}
.socio a i:hover{
    color: #fff;
    transform: scale(1.5);
}