@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;

}

/* ==============Header=================== */

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 15rem;
    gap: 8rem;

}

.header-container a {
    text-decoration: none;
    color: black;

}

.header-container a:hover {
    color: black;
    text-decoration: none;
}

.nav-list ul {
    display: flex;
    gap: 3rem;
    margin-top: 1.5rem;
}

.nav-icons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

}

.log h1 {
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    font-size: 3rem;
    cursor: pointer;
}

.nav-list ul li {
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.nav-list ul li::after {
    content: '';
    height: 1rem;
    width: 100%;
    background-color: red;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.form-group input {
    padding: 1rem 0rem;
    border-radius: 50px;
    border: rgb(77 71 71) 1px solid;
}

.nav-icons .login-icon .material-symbols-outlined {
    font-size: 40px;
}

.nav-icons .material-symbols-outlined {
    font-size: 36px;
    color: rgb(77 71 71);
    cursor: pointer;
    position: relative;
}

.nav-icons .cart-icon .cart-no {
    position: absolute;
    background: #ff0000;
    height: 20px;
    top: 7px;
    right: -2px;
    width: 20px;
    text-align: center;
    line-height: 18px;
    font-size: 13px;
    border-radius: 50%;
    color: white;
    border: 1px solid #ff6600;
    font-family: sans-serif;

}

.user_auth {
    display: flex;
    margin-left: 1rem;
    gap: 1rem;
}

/* =========image slider============== */

.slider-frame {
    overflow: hidden;
    height: 800px;
    width: 100%;
    position: relative;
}

.slide-images {
    display: flex;
    /* Use flexbox to arrange images horizontally */
    width: 400%;
    /* 4 images wide */
    height: 100%;
    /* Full height of the slider-frame */
    animation: slide_animation 60s infinite alternate;
    /* Change to linear */
}

.img-container {
    flex: 0 0 25%;
    /* Each image takes 25% width */
    height: 800px;
}

.img-container img {
    width: 100%;
    /* Image width set to 100% */
    height: 100%;
    object-fit: cover;
}

@keyframes slide_animation {
    0% {
        transform: translateX(0%);
        /* Start from 0% translation */
    }

    100% {
        transform: translateX(-75%);
        /* End at -75% translation (to the right) */
    }
}


/* ============Treading products========== */
.treading-products {
    margin-top: 8rem;
}

.treading-product {
    text-align: center;

}

.heading h1 {
    font-size: 3rem;
    font-weight: bolder;
}

.heading h1 span {
    color: red;
}

.treading-product .products {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
    padding: 5rem 5rem;
}

.product-img {
    width: 550px;
    height: 650px
}

.product-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}


/* =============FOOTER ============= */
.footer {

    /* background-color: #130f1e; */
    background-color: #131318;
    margin-top: 10rem;
}

.main {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 15rem 3rem;
}

.col {
    width: 25%;
}
.col:last-child{
    margin-right: 27rem;
}
.col h4 {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 2rem;
    position: relative;
    text-transform: capitalize;

}

.col h4::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 70px;
    left: 0;
    bottom: -1rem;
    background-color: #000fc4;


}

.col ul li {
    margin-bottom: 1.3rem;
}

.col ul li a {
    color: #9897a9;
    font-size: 1.1rem;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .4s ease;
}

.col ul li a:hover {
    color: #fff;
    transform: translateX(-12px);
}

.socio {
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.socio a {
    padding: 0.8rem 0.8rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;

}

.socio a i {
    font-size: 1.4rem;
    color: #9897a9;
    transition: all 300ms ease;
}

.socio a i:hover {
    color: #fff;
    transform: scale(1.5);
}

/* =========products==================== */
.product-container {
    margin: 8rem 15rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5rem;
}

.false-search {
    text-align: start;
    width: 730px;
}

.false-search h1 {
    font-weight: bold;
    padding-top: 4rem;
    padding-bottom: 5rem;
    text-transform: capitalize;

}

.items a:hover {
    color: black;
    text-decoration: none;

}

.item-img {
    width: 450px;
    height: 600px;
    cursor: pointer;
}

.item-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.item-details {
    margin-top: 0.6rem;
    margin-left: 5px;

}

.item-details p {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;

}

.item-details p small {
    font-size: 1.2rem;
    font-weight: 500;
}

.item-details p small span {
    text-decoration: line-through;
    color: gray;
    padding-right: 3px;
}

/* =========product-details=========== */

.feature_image {
    height: 820px;
    width: 620px;
}

.feature_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.thumbnail {
    object-fit: cover;
    max-width: 180px;
    max-height: 100px;
    opacity: 0.5;
    cursor: pointer;
    border: 2px black solid;
    margin: 5px;
    transition: all .3s ease;
}

.thumbnail:hover {
    opacity: 1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.active {
    opacity: 1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#slide-wrapper {
    max-width: 351px;
    display: flex;
    min-height: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 11%;
    margin-left: 19%;
}

#slider {
    width: 440px;
    margin: 6px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.arrow {
    cursor: pointer;
    transition: .3s;
    font-size: 2.3rem;
    transition: all .3s ease;

}

.arrow:hover {
    opacity: .5;
    font-size: 2.5rem;

}

.product-details-container {
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin: 6rem;
}

.product-details {
    width: 700px;
}

.product-details ul li {
    margin-bottom: 8px;
    padding-bottom: 3px;
}

.product-details h1 {
    text-transform: uppercase;
    font-weight: bold;
}

.product-details p {
    margin-top: 2rem;
    font-weight: 500;
}

.product-container p .desc {
    margin-bottom: 2.5rem;

}

.green-text {
    color: green;
}

.red-text {
    color: red;
}

.product-details small {
    font-size: 1.2rem;
    font-weight: 500;
}

.product-details button {
    margin-top: 1rem;
    background-color: black;
    border: none;
    color: white;
}

.product-details button:hover {
    background-color: #413939;
    color: white;
    border: none;
}

/* ===========Cart ====================== */
.cart-section .card {
    transition: all .4s ease;
}

.cart-section a:hover {
    text-decoration: none;

}

.cart-section .card:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.empty-cart {
    margin: 3rem 15rem;
    text-align: center;
}

.empty-cart h2 {
    font-weight: 600;
    margin-top: 3rem;
}

.empty-cart a button {
    margin-top: 1.3rem;
}

.img-fluid {
    border-radius: 10px;
}

.cart-quantity_btn {
    display: flex;
}

.cart-quantity_btn input {
    width: 35px;
    height: 35px;
    text-align: center;
    border: gray 1px solid;
    border-radius: 5px;
}

.back a:hover {
    text-decoration: none;
}

.back a {
    display: flex;
    gap: 8px;

}


@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }

    .bg-grey {
        background-color: #eae8e8;
    }
}

@media (min-width: 992px) {
    .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    .cart-section a:hover {
        text-decoration: none;
    }
}

/* register  */


.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.register-section .card {
    transition: all .4s ease;
    margin-bottom: 10rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.register-section .card:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.register-section .card a {
    text-decoration: underline;
}

.nonfield li:first-child {
    color: red;
    position: absolute;
    bottom: 103px;
    font-size: 14px;
}

.errorlist li {
    color: red;
    position: absolute;
    bottom: 94px;
    font-size: 13px;
}

/* login-form */
.login-section .card {
    transition: all .4s ease;
    margin-bottom: 13rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.login-section .card:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.login-section .row {
    flex-direction: column;
}

.login-section .form-control-lg {
    width: 33.4rem;
}

.login-section a {
    text-decoration: underline;
}

.form-outline .lab {
    display: flex;
    justify-content: space-between;
    position: relative;

}

.lab .forget-pass {
    color: #0069d9;
    position: absolute;
    right: -276px;
    padding-top: 5px;
    cursor: pointer;
}

.lab .forget-pass:hover {
    transition: all .2s ease;
    text-decoration: underline;
    color: blue;
}

#message.hide_message {
    display: none;
}

/* Payment */

.card-body p {
    margin-bottom: 0rem;
}