<section id="contact" class="contact">
    <div class="footer">
        <div class="main">
            <div class="col">
                <h4>COCAINJESUS</h4>
                <ul>
                    <li><a href="#">Who We Are</a></li>
                    <li><a href="#">Terms&Conditions</a></li>
                    <li><a href="#">Return&Refunds Policy</a></li>
                </ul>
            </div>

            <div class="col">
                <h4>contact Us</h4>
                <div class="socio">
                    <a href="https://www.instagram.com/cocainjesus_/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://wa.me/8606477507"><i class="fa-brands fa-whatsapp"></i></a>

                </div>
            </div>
        </div>
    </div>
</section>  