<section id="contact" class="contact">
    <div class="footer">
        <div class="main">
            <div class="col">
                <h4>COCAINJESUS</h4>
                <ul>
                    <li><a href="#">Who We Are</a></li>
                    <li><a href="#">Join Our Team</a></li>
                    <li><a href="#">Terms&Conditions</a></li>
                    <li><a href="#">Fees&Payments</a></li>
                    <li><a href="#">Return&Refunds Policy</a></li>
                </ul>
            </div>

            <div class="col">
                <h4>Help</h4>
                <ul>
                    <li><a href="#">Track Your Order</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Payments</a></li>
                    <li><a href="#">Customer Care</a></li>
                </ul>
            </div>

            <div class="col">
                <h4>Shop by</h4>
                <ul>
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">New Arrivals</a></li>
                    <li><a href="#">Collections</a></li>
                    <li><a href="#">Brand Directory</a></li>
                    

                </ul>
            </div>

            <div class="col">
                <h4>contact Us</h4>
                <div class="socio">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>

                </div>
            </div>
        </div>
    </div>
</section>  