{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<div class="home-container">
    {% include 'base/slider.html' %}
    <div class="treading-products">
        <div class="treading-product">
            <div class="heading">
            <h1>Treading <span>Products</span></h1>
            </div>
            <div class="products">
                <div class="product-img">
                    <img src="{% static 'images/hoodies.jpg' %}" alt="">
                </div>
                <div class="product-img">
                    <img src="{%static 'images/hobobags.jpg'%}" alt="">
                </div>
                <div class="product-img">
                    <img src="{%static 'images/totebages.jpg'%}" alt="">
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock content %}