<header>
    <div class="header-container">
        <a href="{% url 'home' %}"><div class="log">
            <h1>COCAINJESUS</h1>
        </div>
        </a>
        <div class="nav-list">
            <ul>
                <a href="{% url 'home' %}"><li>HOME</li></a>
                <a href="{% url 'store' %}"><li>STORE</li></a> 
                <a href="#contact"><li>CONTACT</li></a>
             
            </ul>
        </div>
        <div class="nav-icons">
            <form action="{% url 'search' %}" method='GET'>
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" name='q' class="form-control" placeholder="Search COCAINJESUS">
                  </div>
            </form>
            <a href="{% url 'cart' %}">
                <div class="cart-icon"> <span class="material-symbols-outlined">
                    shopping_bag
                    <span class="cart-no">{{cart_counter}}</span>
                </span></div>
            </a>
        {% if request.user.is_authenticated %}
        <div class="user_auth">
           <a href="#"><p>welcome <br>{{request.user.username}}</p></a> 
           <a href="{%url 'logout'%}"><p style="text-decoration:underline;">Logout</p></a> 
        </div>
        {% else %}
          <a href="{%url 'register' %}"> <div class="login-icon"><span class="material-symbols-outlined">
                person
                </span></div></a>
        {% endif %}
            
        </div>
    </div>
</header>