<header>
    <div class="header-container">
        <div class="log">
            <h1>COCAINJESUS</h1>
        </div>
        <div class="nav-list">
            <ul>
                <li>HOME</li>
                <li>MEN</li>
                <li>WOMEN</li>
                <li>CONTACT</li>
             
            </ul>
        </div>
        <div class="nav-icons">
            <form>
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="Search COCAINJESUS">
                  </div>
            </form>
            <div class="cart-icon"> <span class="material-symbols-outlined">
                shopping_bag
            </span></div>
           <div class="login-icon"><span class="material-symbols-outlined">
                person
                </span></div>
            
        </div>
    </div>
</header>