{% load static %}
<header>

    <script src="{% static 'js/index.js' %}"></script>
    <div class="header-container">
        <a href="{% url 'home' %}"><div class="log">
            <h1>COCAINJESUS</h1>
        </div>
        </a>
        <a href="{% url 'home' %}"><div class="second-log">
            <h1>CJ</h1>
        </div>
        </a>
        <div class="nav-list">
            <ul>
                <a href="{% url 'home' %}"><li>HOME</li></a>
                <a href="{% url 'store' %}"><li>STORE</li></a> 
                <a href="#contact"><li>CONTACT</li></a>
             
            </ul>
        </div>
        <div class="nav-icons">
            <form action="{% url 'search' %}" method='GET'>
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" name='q' class="form-control" placeholder="Search COCAINJESUS">
                  </div>
            </form>
            <div class="menu-down">
            <span onclick="togglefuntion()" class="material-symbols-outlined" >
                menu
                </span>
            </div>
            <div class="menu-scroll-wrapper ">
                <div class="menu-scroll" id="menuscrollid">
                    <ul>
                        <a href="{% url 'home' %}"><li>HOME</li></a>
                        <a href="{% url 'store' %}"><li>STORE</li></a> 
                        <a href="#contact"><li>CONTACT</li></a>
                        
                    </ul>
                </div>
            </div>
            <a href="{% url 'cart' %}">
                <div class="cart-icon"> <span class="material-symbols-outlined">
                    shopping_bag
                    <span class="cart-no">{{cart_counter}}</span>
                </span></div>
            </a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'profile' %}"><div class="header__user">
              <div class="avatar avatar--medium">
                <img src="https://www.wallpaperup.com/uploads/wallpapers/2023/05/18/1423142/a40c293bc72d87c0d3fc1f9b3352202b-700.jpg" />
              </div>
          </div></a>
        {% else %}
          <a href="{%url 'register' %}"> <div class="login-icon"><span class="material-symbols-outlined">
              person
            </span></div></a>
            {% endif %}
            
        </div>
    </div>
</header>
