{% extends 'base/main.html' %} {% load static %} {% block content %}
<div class="product-container">
  {% for product in products %}
  <div class="items">
    <a href="{{ product.get_url }}">
      <div class="item-img">
        <img src="{{product.prod_img.url}}" alt="" />
      </div>
        <div class="item-details">
          <p>
            {{product.product_name}}<br />
            <small
              ><span>₹{{product.oldprice}}</span>₹{{product.newprice}}</small
            >
          </p>
        </div>
      </a>
      </div>
  {% endfor %}
</div>
{% include 'base/footer.html' %} {% endblock content %}
