{% extends 'base/main.html' %} 
{% load static %} 
{% block content %}
<div class="product-details-container">
  <div class="product-details-container">
    <div class="product-items">
        <div class="feature_image">
          <img id="featured" src="{{pd.prod_img.url}}" alt="" />
        </div>
       <div id="slide-wrapper">
        <i id="button-left" class="fa-solid fa-circle-arrow-left arrow"></i>
        <div id="slider">
          <img
            class="thumbnail active"
            src="{{pd.prod_img.url}}"
            alt=""
          />
          <img class="thumbnail" src="{%static 'images/hoodies.jpg'%}" alt="" />
          <img class="thumbnail" src="{%static 'images/hoodies.jpg'%}" alt="" />
          <img class="thumbnail" src="{%static 'images/hoodie1.jpg'%}" alt="" />
          <img class="thumbnail" src="{%static 'images/hoodies.jpg'%}" alt="" />
          <img class="thumbnail" src="{%static 'images/hoodies.jpg'%}" alt="" />
          <img class="thumbnail" src="{%static 'images/hoodies.jpg'%}" alt="" />
          <img class="thumbnail" src="{%static 'images/hoodies.jpg'%}" alt="" />
          <img class="thumbnail" src="{%static 'images/hoodies.jpg'%}" alt="" />
          <img class="thumbnail" src="{%static 'images/hoodie1.jpg'%}" alt="" />
        </div>
        <i id="button-right" class="fa-solid fa-circle-arrow-right arrow"></i>
      </div> 
    </div>
    <div class="product-details">
      <h1>{{pd.product_name}}</h1>
      <hr>
      <p class="desc">{{pd.description}}</p>

         <p>Key Features:</p>
      <ul>
        <li>{{pd.feature}}</li>
        </ul> 
       <p class="stock-availability">{{pd.is_available}}</p> 
          
          <small>₹{{pd.newprice}}</small><br>
      <button type="button" class="btn">Add to Cart</button>
      <button type="button" class="btn">Buy Now</button>
    </div>
  </div>
</div>
{% endblock content %}
