{% load static %}
<div class="slider-frame">
    <div class="slide-images">
        <div class="img-container">
            <img src="{% static 'images/f1.jpg' %}" alt="">
        </div>
          <div class="img-container">
            <img src="{% static 'images/f2.jpg' %}" alt="">
        </div>
          <div class="img-container">
            <img src="{% static 'images/f3.jpg' %}" alt="">
        </div>
          <div class="img-container">
            <img src="{% static 'images/f4.jpg' %}" alt="">
        </div>
          <div class="img-container">
            <img src="{% static 'images/f5.jpg' %}" alt="">
        </div>
          <div class="img-container">
            <img src="{% static 'images/f6.jpg' %}" alt="">
        </div>
          <div class="img-container">
            <img src="{% static 'images/f7.jpg' %}" alt="">
        </div>
          <div class="img-container">
            <img src="{% static 'images/f8.jpg' %}" alt="">
        </div>
    </div>
</div>
